<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>45</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>44</string>
					<key>Timestamp</key>
					<string>755720051.692178</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SwiftUICrypto/Home/Views/CoinRowView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            CoinImageView(coin: coin)
</string>
				<key>leading</key>
				<string>                .foregroundStyle(.secondaryText)
                .frame(minWidth: 30)
</string>
				<key>trailing</key>
				<string>                .frame(width: 30, height: 30)
            Text(coin.symbol.uppercased())
                .font(.headline)
</string>
			</dict>
			<key>title</key>
			<string>Изображение монеты</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SwiftUICrypto/Components/CircleButton/AnimateCircleView.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Анимированный круг</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SwiftUICrypto/Home/Views/PortfolioView.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Анимированное выделение</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SwiftUICrypto/SwiftUICryptoApp.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Override navBar's color appearance</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SwiftUICrypto/Home/Views/PortfolioView.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>update portfolio to CoreData</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>90</string>
					<key>EndingLineNumber</key>
					<string>71</string>
					<key>StartingColumnNumber</key>
					<string>13</string>
					<key>StartingLineNumber</key>
					<string>71</string>
					<key>Timestamp</key>
					<string>756288530.167013</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SwiftUICrypto/Home/Views/PortfolioView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>   ForEach(vm.searchText.isEmpty ? vm.portfolioCoins : vm.allCoins) { coin in</string>
				<key>leading</key>
				<string>        ScrollView(.horizontal) {
            LazyHStack(spacing: 10) {
             </string>
				<key>trailing</key>
				<string>
                    CoinLogoView(coin: coin)
                        .frame(width: 75)
</string>
			</dict>
			<key>title</key>
			<string>Display allCoins or portfolio</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>39</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>38</string>
					<key>Timestamp</key>
					<string>756387089.1175179</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SwiftUICrypto/Home/ViewModel/HomeViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    private func addSubscibers() {
</string>
				<key>leading</key>
				<string>    
    ///создаются подписки на полученные монеты из API
</string>
				<key>trailing</key>
				<string>//                coinDataService.$allCoins   //подписываемся на @Published var allCoins
//                    .sink { [weak self] coins in
//                        self?.allCoins = coins
</string>
			</dict>
			<key>title</key>
			<string>Magic func combine Publishers and Subscribers</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>114</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>113</string>
					<key>Timestamp</key>
					<string>756398644.616744</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SwiftUICrypto/Home/ViewModel/HomeViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        let porfolioValue =
</string>
				<key>leading</key>
				<string>        
        //Расчет стоимости портфеля
</string>
				<key>trailing</key>
				<string>        portfolioCoins
            .map({ $0.currentCostHoldings }) //получили массив значений стоимости каждой монеты
            .reduce(0, +) //получили сумму стоимости всего актива
</string>
			</dict>
			<key>title</key>
			<string>Стоимости всего актива</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>26</string>
					<key>EndingLineNumber</key>
					<string>51</string>
					<key>StartingColumnNumber</key>
					<string>11</string>
					<key>StartingLineNumber</key>
					<string>51</string>
					<key>Timestamp</key>
					<string>757020673.7648081</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SwiftUICrypto/Screens/Home/Views/HomeView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string> NavigationLink</string>
				<key>leading</key>
				<string>        .background {
            //ссылка активируется при переключении @State isShowDetailView
           </string>
				<key>trailing</key>
				<string>(
                destination: LoadingDetailView(coin: $selectedCoin),
                isActive: $isShowDetailView,
</string>
			</dict>
			<key>title</key>
			<string>ссылка на бэкграунде</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SwiftUICrypto/Screens/DetailView/ViewModel/DetailViewModel.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>преобразуем модель в два отдельных массива</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
